.add-Book-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0rem 0;
  margin: auto;
  width: 100%;
}

.form-control {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  /* border: 2px solid #e0e0e0; */
  padding: 0.5rem 0.6rem;

  input {
    padding: 0.3rem;
    width: 100%;
    background: #212121;
    border: none;
    border-bottom: 2px solid #e0e0e0;
    font: inherit;
    color: #e0e0e0;
    outline: none;
    border-radius: 10px;
  }

  #commentTXT {
    padding: 0.3rem;
    margin: .6rem 0;
    background: #212121;
    border: none;
    border-bottom: 2px solid #e0e0e0;
    border-radius: 10px;
    font: inherit;
    color: #e0e0e0;
    outline: none;
  }
}

.form-btn {
  margin: .7rem;
  padding: 0.5rem 1rem;
  font: inherit;
  color: #e0e0e0;
  transition: all .3s ease;
  background: #212121;
  border-radius: 20px;
  border: none;
  border-bottom: 2px solid #e0e0e0;
  box-shadow: 0 0px 2px #e0e0e0;
  cursor: pointer;
}

.form-btn:hover {
  background: #e0e0e0;
  border: none;
  border-bottom: 2px solid #212121;
  box-shadow: 0 0px 10px #212121;
  color: #212121;
}