.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  background: #202020;
  padding: 25px;
  border-radius: 15px;
  box-shadow: inset 0px 2px 5px 6px rgb(255 255 255 / 16%);
  width: 300px;
}

.login-form h2 {
  margin-bottom: 15px;
  text-align: center;
}

.login-form-control {
  margin-bottom: 15px;
}

.login-form-control input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  outline: none;
  background: transparent;
  border: none;
  border-bottom: 2.5px solid #e0e0e0da;
  font: inherit;
  color: #e0e0e0;
  border-radius: 6px;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background-color: #da6900;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #b35700;
}
