.Book {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  border-radius: 1rem;
  background: #58422c;
  padding: 1rem 1.5rem;
  color: #dfdede;

  .description {
    color: #dfdede;
    font-size: 1rem;
  }
}

.btn-Delete {
  padding: 0.3rem 1rem;
  background: #af9d9d;
  font: inherit;
  font-size: 0.6rem;
  /* background: #6e0000d7; */
  color: #ffffffd7;
  border: none;
  border-bottom: 2px solid #ffffffd7;
  border-radius: 12px;
  transition: all 0.3s ease;
  cursor: pointer;

}

.btn-Delete:hover {
  background: #d11a2a;
  font: inherit;
  color: #ffffffd7;
  box-shadow: 0 0px 5px #d11a2a;
  border-bottom: 2px solid #ffffffd7;
}

@media only screen and (min-width : 768px) {
  .Book {
    width: calc(50% - 5px);
  }
}


@media only screen and (min-width : 1024px) {
  .Book {
    width: calc(33% - 5px);
  }
}

@media only screen and (min-width : 1500px) {
  .Book {
    width: calc(25% - 10px);
  }
}